html{
    position: relative;
}
body{
    background: #eeeeee;
    min-height: 100vh;
}
a:focus,a:visited,a:active {
    border:none;
    outline:none;
}

.navbar-brand{
	padding:0px;
	margin:0px;
	width:220px;
}

.img-responsive{
  	margin-top: 45px;
    box-shadow: 2px 2px 3px #ccc;
}
.content1{
    margin-top: 20px;

}

.content1  blockquote{
    margin-top: 15px;
    margin-left: 10px;
    color: skyblue;
    border-left: 5px solid skyblue;
}
.content1 .ann{
    background: white;
    box-shadow: 2px 2px 3px #ccc;
    margin-left: 10px;
    margin-right: 10px;
}
.content1 .ann .ann_content{
    padding-bottom: 10px;
    color: #666666;
}
.content1 .ann .ann_content li a{
    text-decoration: none;
    color: #666666;
}
.content1 .ann .ann_content li a:hover{
    text-decoration: none;
    color: red;

}
.content1 .ann .ann_content li span{
    float: right;
    padding-right: 10px;
}
.content1 .quote{
    background: white;
    box-shadow: 2px 2px 3px #ccc;

}
.content1 .quote .quote_content{
    padding-bottom: 10px;
    color: #666666;
}
.content1 .quote .quote_content li a{
    text-decoration: none;
    color: #666666;
}
.content1 .quote .quote_content li a:hover{
    text-decoration: none;
    color: red;

}
.content2{
    margin-top: 20px;
    margin-bottom: 30px;
}
.content2 .block{
    margin: 2px;
    background: skyblue;
    height: 200px;
    margin-top: 10px;
    box-shadow: 2px 2px 3px #666;
    text-align: center;
    font-size: 25px;
    font-family: 微软雅黑;



}
.content2 .block a{

    font-size: 25px;
    font-family: 微软雅黑;
    text-decoration: none;

}
.content2 .block a p{

    font-size: 25px;
    font-family: 微软雅黑;
   background: #D9D6CF;
    color: #666;

}
.content2 .block:hover{
    margin: 2px;
    height: 200px;
    box-shadow: 5px 5px 10px #666;
    opacity: 0.8;

}
.footer{
    background: #dddddd;
    border-top: 1px solid #b3b3b3;
    text-align: center;
    width: 100%;
    height: 50px;
    position: absolute;
    bottom: 0px;
    font-size: 0.75em;
    margin-top: 15px;

}
.font{
	margin-top: 10px;
}
.footer_t{
    height: 80px;

}
#searchGrade{
    position: fixed;
    top:3%;
}
#passWord{
    position:fixed;
    top:20%;

}
#reserve{
    position: fixed;
    top:30%;


}
/*教师管理页面*/

.teacher_banner{
    margin-top: 51px;
    background-image: url("../images/teacher_banner.jpg")!important;
    background-size: cover;
    color: #eeeeee;
}
.teacher_left{
    background: white;
    box-shadow: 2px 2px 3px #ccc;
    padding: 10px;
}
.teacher_right{
    background: white;
    box-shadow: 2px 2px 3px #ccc;
    padding: 10px;

    margin-bottom: 20px;
}
.teacher_right blockquote{
    border-bottom: 1px solid #eeeeee;
}

.experiment{
    width: 70%;
}
/*公告栏*/
.ann1_content{
    background: white;
    box-shadow: 2px 2px 3px #ccc;
    padding: 10px;
    min-height: 70vh;

    margin-bottom: 20px;
}
.ann_header{
    margin-bottom: 20px;

}
.ann_title{
    text-align: center;
}
.ann_btn{
    text-align: center;
}
.ann_btn a{
    text-decoration: none;
}
.ann_time{
    float: right;
    margin-right: 8%;
}

.ann_body{
    border-top: 1px solid #cccccc;
    padding-top: 20px;

}
/*实验测试页面*/
.test_left{
    background:white;
    box-shadow: 2px 2px 3px #ccc;
    margin-bottom: 30px;
    padding-bottom: 30px;
}
.test_right{
    position: fixed;
    top:30%;

}
.test_content{
    margin: 30px;
    padding: 20px 0px;
    height: 230px;
}
.test_content ul li{
    margin: 15px 0px;
    list-style: none;
}
.test_head{
    font-size: 16px;

}

.test_radio{

    display: inline-block;
    margin-top: 100px;
}
.test_radio input{
    margin-left: 150px;
}
.test_btn{
   width: 200px;
}







